@import "src/sass/vars"
.slider
  &__title
    padding: 13px 5px
    text-transform: uppercase
    text-align: center
    background-color: $main-black
    font-size: 14px
    border:
        bottom:  3px solid $main-red